{% extends 'base.html' %}
{% load static %}
    {% block title %}Balance{% endblock %}

    {% block css %}
    {% endblock %}

    {% block content %}
    <section class="pt-3 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in member_obj %}
                    <tr>
                      <td>{{ obj.name|title }}</td>
                    </tr>
                    <tr>
                      <!--<td>{{ obj.deposit_set.total.all }}</td>-->
                    </tr>
                    {% endfor%}

                  </tbody>
                </table>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block js %}
    {% endblock %}