{% extends 'base.html' %}
{% load static %}
    {% block title %}Balance{% endblock %}

    {% block css %}
    {% endblock %}

    {% block content %}
    <section class="pt-3 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Total Deposit</th>
                        <!--<th scope="col">Date</th>-->
                    </tr>
                  </thead>
                  <tbody>


                    {% for obj in member_obj %}
                    <tr>
                        <td>{{ obj.name|title }}</td>

                        <!--<th scope="col">{% for num in obj.deposit_set.all %}{{ num.total|add:num.total }}{% endfor %} </th>-->
                        <!--<th scope="col">{{ obj.deposit_set.total }}</th>-->
                        <!--<td>{% with member_total_deposit=0 %}-->
                                <!--{% for num in obj.deposit_set.all %}-->
                                <!--{{ member_total_deposit|add:num.total }}-->
                                <!--{% endfor %}-->
                            <!--{% endwith %}</td>-->
                        <td>{{ obj.member_total }}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block js %}
    {% endblock %}