{% extends 'base.html' %}
{% load static %}
    {% block title %}Meal{% endblock %}

    {% block css %}
    {% endblock %}

    {% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Total Meal</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for meal in meal_list %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td><a href="{{ member.get_absolute_url }}">{{ meal.member.name|title }}</a></td>
                        <td>{{ meal.date }}</td>
                      <td>{{ meal.total }}</td>
                    </tr>
                    {% endfor%}
                  </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="mt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Total Expense</th>
                      <th scope="col">Total Meal</th>
                        <th scope="col">Rate Per Meal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ total_expense }}</td>
                        <td>{{ total_meal }}</td>
                        <td>{{ rate_per_meal|floatformat:2 }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block js %}
    {% endblock %}